main {
  height: cacl(100vh - 56px);
}

.hero {
  background: url("https://source.unsplash.com/1fZC2rYbpsU/") no-repeat fixed
    center center/cover;
  height: 100vh;
  margin-top: -140px;
  text-shadow: 20px 0px 12px black;
  font-weight: bolder;
}

a {
  color: white;
  text-decoration: none;
}

.lean {
  color: black;
  text-decoration: none;
}

span {
  background-color: black;
  color: white;
}
